{% extends "base.html" %}
{% load static %}
{% block start %}
    <div class="container mt-5">
        <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h2>Add Recepie</h2>
            <hr>
            <div class="recepie mb-3">
                <lable for="recepieName" class="form-label">Recepie Name</lable>
                <input name="recepie_name" required type="text" class="form-control">
            </div>
            <div class="recepie mb-3">
                <label for="recepieDesc" class="form-label">Recepie Description</label>
                <textarea name="recepie_description" required class="form-control"></textarea> 
            </div>
            <div class="recepie mb-3">
                <label for="recepieImage" class="form-label">Recepie Image</label>
                <input type="file" class="form-control" name="recepie_image">
            </div>
            <button type="submit" class="btn btn-success"> Add Recepie </button>
        </form>
        
        <hr>
        <div class="mt-5">
            <div class="mx-auto col-6">
                <form>
                    <div class="mb-3">
                        <label for="search" class="form-label">Search</label>
                        <input name="search" type="text" class="form-control">
                    </div>

                    <button type="submit" class="btn btn-primary">
                        Search
                    </button>
                </form>
            </div>
        </div>

        

        <table class="table mt-5 ">
            <thead>
                <tr>
                    <th scope="col">Sr. No</th>
                    <th scope="col">Recepie Name</th>
                    <th scope="col">Recepie Description</th>
                    <th scope="col">Image</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for recepie in recepies %}
                    <tr>
                        <th scope="row"> {{ forloop.counter }} </th>
                        <th scope="row"> {{recepie.recepie_name}} </th>
                        <th scope="row"> {{recepie.recepie_description}} </th>
                        <th scope="row"> 
                            <image src="/media/{{recepie.recepie_image}}" style="height: 100px;"></image>
                        </th>
                        <td>
                            <a href="/update_recepie/{{recepie.id}}" class="btn btn-success mb-2">Update</a>
                            <a href="/delete_recepie/{{recepie.id}}" class="btn btn-danger">
                                Delete
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %} 